.callout-test {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: #ebebeb;
  color: #555;
  display: flex;
}

.search-input {
  flex: 1;
}

.banner-height {
  min-height: 120px !important;
}

.one-line-only {
  display: flex;
  justify-content: center;
}

.center-tag {
  display: flex;
  justify-content: center;
}

.wrap-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.picture-position {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/pharm-sci-home-hero-1.jpg");
  background-position: 60% 50%;
  display: flex;
  justify-content: center;
  height: calc(81vh - 105px);
  background-size: cover;
  background-repeat: no-repeat;
}

.font-color-override:hover {
  color: #fefefe !important;
  text-decoration: none !important;
}

.dropdown-coloring {
  background-color: #333 !important;
  color: #fefefe !important;
  border-color: #fefefe !important;
}

/* .dropdown-coloring:hover {
  color: green !important;
} */

.jumbotron {
  background-color: white !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* .container {
  margin: 0 auto !important;
  max-width: 1500px !important;
} */

.uthsc-blue {
  background-color: #00a5e3 !important;
  color: white;
}

.uthsc-blue:hover {
  background-color: #00a5e3 !important;
  color: white;
}

.testing-column {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* .navbar-rightside {
  display: flex;
  justify-content: flex-end;
} */

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #767676; /* old IE */
  background-color: #767676; /* Modern Browsers */
}

.uthsc-navbar {
  display: flex;
  justify-content: center;
}

.uthsc-navbar-spacing {
  padding-left: 40px;
  padding-right: 40px;
}
