.callout-test {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(10, 10, 10, 0.25);
  border-radius: 0;
  background-color: #ebebeb;
  color: #555;
  display: flex;
}

.search-input {
  flex: 1;
}

.banner-height {
  min-height: 120px !important;
}

.one-line-only {
  display: flex;
  justify-content: center;
}

.center-tag {
  display: flex;
  justify-content: center;
}

.wrap-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#add-space {
  margin: 15px;
}

.uthsc-green {
  background-color: #006a4d !important;
  color: white;
}

.uthsc-blue {
  background-color: #00a5e3 !important;
  color: white;
}

.uthsc-orange {
  background-color: #f77f00 !important;
  color: white;
}

.outline-button  {
  color: #006a4d  !important;
  border-color: #006a4d  !important;
}

.outline-button:hover{
  background-color: #006a4d  !important;
  color: white !important;
}

.outline-button-secondary  {
  color: #00a5e3 !important;
  border-color: #00a5e3  !important;
}

.outline-button-secondary:hover{
  background-color: #00a5e3  !important;
  color: white !important;
}
